/********************************** Fonts **********************************/

@font-face {
  font-family: 'FuturaDisPEE';
  font-style: normal;
  font-weight: 400;
  src: url('../src/fonts/FuturaDisPEE.ttf'); 
  src: local('FuturaDisPEE'), local('FuturaDisPEE'),
       url('../src/fonts/FuturaDisComDEE.ttf') format('tff'), 
       url('../src/fonts/FuturaDisDEE.ttf') format('tff'),
       url('../src/fonts/FuturaDisOutPEE.ttf') format('tff'),
       url('../src/fonts/FuturaDisPEE.ttf') format('tff')
}

body {
  font-family: 'FuturaDisPEE' !important;
  overflow-x: hidden;
}

/********************************** General **********************************/

:root {
  --red: rgb(229 30 36);
  --yellow: rgb(248 239 29);
  --black: rgb(4 7 7);
  --white: rgb(255 255 255);
  --grey: #f8f8f8;
}

.hide{
  display: none;
}
body{
  height: 100%;
}

/********************************** Top Bar **********************************/

.top-bar {
  background-color: var(--black);
}

.top-bar .tb p {
  color: var(--white);
  font-size: 25px;
  padding: 15px 0px;
  letter-spacing: 0.5px;
  margin-bottom: 0px;
}

.top-bar .tb p.manga {
  text-align: right;
}

.tb a {
  color: var(--yellow) !important;
  text-decoration: none;
}

.tb a:hover {
  color: var(--red) !important;
  transition: 0.4s;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

/********************************** Header **********************************/

#mha-nav {
  background-color: var(--red);
  padding: 35px 0px;
  top: -1px !important;
}

#mha-nav .nav-link {
  color: var(--white);
  font-size: 35px;
  text-transform: uppercase;
  padding-right: 60px;
}

#mha-nav .nav-link:hover {
  color: var(--yellow);
  transition: 0.4s;
}

#mha-nav .nav-item:last-child .nav-link {
  padding-right: 0px;
}

/*Mobile Header*/

#mha-nav button.navbar-toggler {
  border: 1px solid var(--white);
}

a.navbar-brand.hide img {
  width: 250px;
}

/********************************** Home - Banner **********************************/

#home-banner {
  background-image: url('./images/mainbanner.jpg');
  min-height: 80vh;
  /* margin-top: 110px; */
}

#home-banner .container {
  display: flex;
  place-content: center;
  padding-top: 25vh;
}

#home-banner img {
  width: 60%;
  vertical-align: middle !important;
}

/********************************** Home - Carousel **********************************/

#home-carousel h2 {
  font-size: 4.4rem;
  text-align: center;
  margin-bottom: 0em;
}

#home-carousel {
  padding-top: 5em;
  padding-bottom: 5em;
  background-color: var(--grey);
}

#home-carousel .swiper-slide {
  background-color: var(--grey);
}

.swiper-wrapper{
  height: 38vh !important;
}

/*SWIPER MODULE CSS*/
.swiper-slide {
  text-align: center;
  font-size: 2.2rem;
  background: var(--white);

  /* Center slide text vertically */
  display: -webkit-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  -webkit-box-pack: center;
  -ms-flex-pack: center;
  -webkit-justify-content: center;
  justify-content: center;
  -webkit-box-align: center;
  -ms-flex-align: center;
  -webkit-align-items: center;
  align-items: center;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.swiper {
  margin-left: auto;
  margin-right: auto;
}
/**/

.card.hc-season {
  border-radius: 20px;
  border: 0px solid;
}

#home-carousel .card-img-overlay {
  top: auto;
  background-color: rgb(229 30 36 / 80%);
  border-radius: 0px 0px 20px 20px;
}

#home-carousel .card-img {
  border-radius: 20px;
  height: 30vh;
}

#home-carousel .card-title a {
  color: var(--white);
  text-decoration: none;
  font-size: 2.2rem;
  text-transform: uppercase;
  text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

#home-carousel .card-title a:hover {
  color: var(--yellow);
  transition: 0.4s;
  font-size: 2.25rem;
  letter-spacing: 2px;
}

.swiper-button-prev, .swiper-button-next {
  color: var(--black) !important;
  font-weight: 700;
}

.swiper-button-prev:hover, .swiper-button-next:hover {
  color: var(--white) !important;
  transition: 0.4s;
}

.hc-season .card-title {
  margin-bottom: 0em;
}

.swiper-pagination-bullet-active {
  background-color: var(--red) !important;
}

/********************************** Home - Plus Ultra **********************************/

#plus-ultra {
  padding-top: 5em;
  padding-bottom: 5em;
}

#plus-ultra h1 {
  font-size: 4.4rem;
  margin-bottom: 1.5rem;
}

#plus-ultra p {
  font-family: Arial;
  font-size: 1.40rem;
  text-align: justify;
  color: var(--black);
}

#plus-ultra .alert {
  font-size: 2rem;
  text-transform: uppercase;
  letter-spacing: 4px;
  text-align: center;
  color: var(--black);
  padding: 10px 25px !important;
  background-color: var(--yellow);
  border-radius: 5px;
  text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
}

.btn-pu {
  margin-top: 1.5rem;
  display: inline-block;
  font-weight: 400;
  line-height: 1.5;
  color: var(--white);
  background-color: var(--red);
  text-align: center;
  text-decoration: none;
  vertical-align: middle;
  cursor: pointer;
  -webkit-user-select: none;
  user-select: none;
  border: 1px solid transparent;
  padding: 10px 55px;
  font-size: 2.2rem;
  border-radius: 5px;
  text-shadow: 0 4px 4px rgb(0 0 0 / 25%);
  box-shadow: 4px 4px 12px rgb(0 0 0 / 50%);
  transition: color .15s ease-in-out,background-color .15s ease-in-out,border-color .15s ease-in-out,box-shadow .15s ease-in-out;
}

.btn-pu:hover {
  color: var(--yellow);
  font-size: 2.25rem;
  transition: 0.4s;
}

#plus-ultra .p2{
  place-self: end;
}

#plus-ultra .p3 img{
  width: 275px;
  float: right;
}

/********************************** Home - Gallery **********************************/

#gallery{
  padding-top: 5em;
  padding-bottom: 5em;
  background-color: var(--yellow);
}

#gallery .row .col-*{
  height: fit-content;
}

/* ---- grid-item ---- */

.css-pxxd1-MuiImageListItem-root .MuiImageListItem-img {
  object-fit: unset !important;
}

/********************************** Media Queries **********************************/

@media screen and (min-width: 992px) and (max-width: 1200px) {
  
  #mha-nav .nav-link {
    font-size: 25px;
  }
  
  .top-bar .tb p {
    font-size: 20px;
  }

}

@media screen and (max-width: 1220px) {

  #plus-ultra .p3 img {
    width: 100%;
    float: initial;
  }

}

@media screen and (max-width: 991px) {

  .navbar-brand.hide {
    display: block;
  }

  #mha-nav {
    margin-top: 0em;
  }

  .top-bar .tb{
    display: none;
  }

  #mha-nav .nav-link {
    font-size: 25px;
  }

  #home-banner .container {
    padding-top: 30vh;
  }
  #home-banner img {
    width: 100%;
  }

  #home-carousel h2,
  #plus-ultra h1 {
    font-size: 3.4rem;
  }

  #plus-ultra .row {
    margin-top: 3.5rem;
  }

  .css-pxxd1-MuiImageListItem-root {
    grid-column-end: span 2 !important;
  }

  .css-pxxd1-MuiImageListItem-root .MuiImageListItem-img {
      object-fit: cover !important;
  }
  #gallery.css-1kn2p5x-MuiImageList-root {
    grid-template-columns: repeat(4, 1fr) !important;
  }
  .css-pxxd1-MuiImageListItem-root:last-child {
    grid-column-end: span 4 !important;
  }

}

@media screen and (max-width: 767px) {

  .swiper-container {
    width: 100% !important;
  } 

  .swiper-slide.swiper-slide-active {
    width: 100% !important;
  }

}
