/********************************** Fonts **********************************/

@font-face {
  font-family: 'FuturaDisPEE';
  font-style: normal;
  font-weight: 400;
  src: url('../src/fonts/FuturaDisPEE.ttf'); 
  src: local('FuturaDisPEE'), local('FuturaDisPEE'),
       url('../src/fonts/FuturaDisComDEE.ttf') format('tff'), 
       url('../src/fonts/FuturaDisDEE.ttf') format('tff'),
       url('../src/fonts/FuturaDisOutPEE.ttf') format('tff'),
       url('../src/fonts/FuturaDisPEE.ttf') format('tff')
}

body {
  font-family: 'FuturaDisPEE' !important;
  overflow-x: hidden;
}

/********************************** General **********************************/

.hide{
  display: none;
}

/********************************** Media Queries **********************************/

@media screen and (max-width: 991px) {
  .navbar-brand.hide {
    display: block;
  }
}