/********************************** Fonts **********************************/

@font-face {
  font-family: 'FuturaDisPEE';
  font-style: normal;
  font-weight: 400;
  src: url('../src/fonts/FuturaDisPEE.ttf'); 
  src: local('FuturaDisPEE'), local('FuturaDisPEE'),
       url('../src/fonts/FuturaDisComDEE.ttf') format('tff'), 
       url('../src/fonts/FuturaDisDEE.ttf') format('tff'),
       url('../src/fonts/FuturaDisOutPEE.ttf') format('tff'),
       url('../src/fonts/FuturaDisPEE.ttf') format('tff')
}

body {
  font-family: 'FuturaDisPEE' !important;
  overflow-x: hidden;
}

/********************************** General **********************************/

.hide{
  display: none;
}
body{
  min-height: 150vh;
}

/********************************** Top Bar **********************************/

.top-bar {
  background-color: rgb(4 7 7);
}

.top-bar .tb p {
  color: rgb(255 255 255);
  font-size: 25px;
  padding: 15px 0px;
  letter-spacing: 0.5px;
  margin-bottom: 0px;
}

.top-bar .tb p.manga {
  text-align: right;
}

.tb a {
  color: rgb(248 239 29) !important;
  text-decoration: none;
}

.tb a:hover {
  color: rgb(229 30 36) !important;
  transition: 0.4s;
}
.sticky {
  position: fixed;
  top: 0;
  width: 100%;
}

.sticky + .content {
  padding-top: 102px;
}

/********************************** Header **********************************/

#mha-nav {
  background-color: rgb(229 30 36);
  padding: 35px 0px;
  /* margin-top: 4em; */
  /* position: fixed; */
  width: 100%;
}

#mha-nav .nav-link {
  color: rgb(255 255 255);
  font-size: 35px;
  text-transform: uppercase;
  padding-right: 60px;
}

#mha-nav .nav-link:hover {
  color: rgb(248 239 29);
  transition: 0.4s;
}

#mha-nav .nav-item:last-child .nav-link {
  padding-right: 0px;
}

/*Mobile Header*/

#mha-nav button.navbar-toggler {
  border: 1px solid rgb(255 255 255);
}

a.navbar-brand.hide img {
  width: 250px;
}

/********************************** Home - Banner **********************************/

#home-banner {
  background-image: url('./images/mainbanner.jpg');
  min-height: 85vh;
  /* margin-top: 110px; */
}

#home-banner .container {
  display: flex;
  place-content: center;
  padding-top: 25vh;
}

#home-banner img {
  width: 60%;
  vertical-align: middle !important;
}



/********************************** Media Queries **********************************/

@media screen and (min-width: 992px) and (max-width: 1200px) {
  
  #mha-nav .nav-link {
    font-size: 25px;
  }
  
  .top-bar .tb p {
    font-size: 20px;
  }

}

@media screen and (max-width: 991px) {

  .navbar-brand.hide {
    display: block;
  }

  #mha-nav {
    margin-top: 0em;
  }

  .top-bar .tb{
    display: none;
  }

  #mha-nav .nav-link {
    font-size: 25px;
  }

}